{
    "require": {
        "symfony/yaml": "^5.1"
    },
    "require-dev": {
        "phpmd/phpmd": "@stable",
        "phpunit/phpunit": "^9.0",
        "squizlabs/php_codesniffer": "3.5.*",
        "ramsey/composer-repl": "^1.4"
    },
    "autoload": {
        "psr-4": {
            "App\\": "src/"
        }
    },
    "autoload-dev": {
        "psr-4": {
            "AppTest\\": "test/"
        }
    },
    "minimum-stability": "stable",
    "prefer-stable": true,
    "extra": {
        "ramsey/composer-repl": {
            "includes": [
                "tests/bootstrap.php"
            ]
        }
    },
    "config": {
        "allow-plugins": {
            "ramsey/composer-repl": true
        }
    }
}
